.vscode/*
a.out
*.o
*.txt
client
server
configs/
.UsableTools/
DockerFolder/
Uploads/*
webserv
Coding_notes.md
my_webserv
a.out
pipe.cpp
venv
myenv
# Ignore everything in folder1 and folder2
Uploads/*
sessions/*

# But don't ignore the folders themselves
!Uploads/
!sessions/